.headerbar__container {
  z-index: 5;
}

.headerbar__title, .headerbar__search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  transform-origin: 0% 50%;
  transition: transform 0.3s ease-in-out;
}

.headerbar__title {
  border: 0;
  background-color: transparent;
}

.headerbar.headerbar--searching .headerbar__title,
.headerbar:not(.headerbar--searching) .headerbar__search {
  transform: scaleX(0);
}

.headerbar__search > input {
  border: 0;
  border-bottom: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
}

.headerbar__title--changing {
  transform: scaleY(0);
}

.headerbar__refresh {
}

.headerbar__refresh--spinning {
  animation: spin 1s  infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.headerbar__drawer {
  position: absolute;
  padding: 20px 10px 10px 10px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY({{config.HEADER.DRAWER_OVERLAP}}px);
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 16px;
}

.headerbar__back,
.headerbar__search__go,
.headerbar__share,
.headerbar__refresh {
  display: block;
  width: {{config.HEADER.BUTTON_SIZE}}px;
  height: {{config.HEADER.BUTTON_SIZE}}px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: {{config.HEADER.BUTTON_SIZE}}px {{config.HEADER.BUTTON_SIZE}}px;
}

.headerbar__back {
  background-image: url('/images/arrow-left.svg');
}

.headerbar__search__go {
  background-image: url('/images/sign-in.svg');
}

.headerbar__share {
  background-image: url('/images/share-alt.svg');
}

.headerbar__refresh {
  background-image: url('/images/refresh.svg');
}

.headerbar__drawer--hidden {
  transform: translateY(-10px);
}

.headerbar__drawer--expanded {
  transform: translateY(100%);
}

.headerbar__drawer:not(.headerbar__drawer--expanded) .headerbar__drawer__controls {
  visibility: hidden;
}

.headerbar__drawer--new-notifications .headerbar__drawer__icon {
  background-image: url('/images/envelope.svg');
}

.headerbar__drawer--expanded:not(.headerbar__drawer--new-notifications) .headerbar__drawer__icon {
  transform: rotate(180deg);
}

.headerbar__drawer__icon {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  height: {{config.HEADER.DRAWER_OVERLAP}}px;
  background-image: url('/images/caret-down.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.headerbar__drawer__notifications {
  border-top: 1px solid rgba(0,0,0,0.54);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 0;
}

.headerbar__drawer__suggestion {
  display: flex;
  margin: 5px 0;
  text-align: left;
}

.headerbar__drawer__suggestion__use {
  flex-grow: 1;
  flex-shrink: 1;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: left;
  border: 0;
  background-color: transparent;
}

.headerbar__drawer__suggestion__edit,
.headerbar__drawer__suggestion__delete {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5px;
  border: 0;
  background-color: transparent;
}

.headerbar__drawer__suggestion__delete {
  background-image: url('/images/trash.svg');
}

.headerbar__drawer__suggestion__edit {
  background-image: url('/images/pencil.svg');
}

.drawercontrols__btn {
  display: block;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
}

.drawercontrols {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
