.linkviewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.linkviewer--visible {
  opacity: 1;
}

.linkviewer--single .linkviewer__forward,
.linkviewer--single .linkviewer__backward,
.linkviewer--single .linkviewer__details__count {
  display: none;
}

.linkviewer__forward, .linkviewer__backward {
  display: flex;
  align-items: center;
  color: white;
}

.linkviewer__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgba(255, 255, 255, 0.54);
  margin: 0 !important;
}

.linkviewer__container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkviewer__container > * {
  max-width: 100%;
  max-height: 100%;
  will-change: transform;
  transition: transform 0.3s ease-in-out;
}

.linkviewer__container > .error {
  color: red;
}

.linkviewer--left .linkviewer__container > * {
  transform: translateX(-100%);
}

.linkviewer--right .linkviewer__container > * {
  transform: translateX(100%);
}

.linkviewer__details {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.linkviewer__details__count,
.linkviewer__details__text {
  display: block;
  text-align: center;
  color: white;
}
