.view {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 35px;
  min-height: 100%;
  will-change: transform;
  overflow: auto;
}

.view.transitioning {
  height: 100vh;
  overflow: hidden;
  min-height: auto;
}

.view.transitioning.in {
  transform: translateX(100%);
}
.view.transitioning.out {
  transform: translateX(-100%);
}
