.linkviewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  z-index: 500;
  padding-top: 70px;
}

.linkviewer--visible {
  opacity: 1;
}

.linkviewer--last .linkviewer__forward,
.linkviewer--first .linkviewer__backward,
.linkviewer--first.linkviewer--last .linkviewer__details__count {
  visibility: hidden;
}

.linkviewer__forward,
.linkviewer__backward,
.linkviewer__close {
  display: block;
  width: {{config.LINKVIEW.BUTTON_SIZE}}px;
  height: {{config.LINKVIEW.BUTTON_SIZE}}px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: {{config.LINKVIEW.BUTTON_SIZE}}px {{config.LINKVIEW.BUTTON_SIZE}}px;
  text-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black;
  margin: 0 !important;
  align-self: center;
}

.linkviewer__forward {
  background-image: url('/images/chevron-right.svg');
}

.linkviewer__backward {
  background-image: url('/images/chevron-left.svg');
}

.linkviewer__close {
  position: absolute;
  top: 90px;
  right: 20px;
  background-image: url('/images/times.svg');
}

.linkviewer__container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkviewer__container > * {
  max-width: 100%;
  max-height: 100vh;
  will-change: transform;
}

.linkviewer--animating .linkviewer__container > * {
  transition: transform 0.3s ease-in-out;
}

.linkviewer--left .linkviewer__container > * {
  transform: translateX(-100vw);
}

.linkviewer--right .linkviewer__container > * {
  transform: translateX(100vw);
}

.linkviewer__container > .external {
  color: white;
  text-align: center;
  word-break: break-all;
}

.linkviewer__container > .error {
  color: red;
}

.linkviewer__details {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.linkviewer__details__count,
.linkviewer__details__text {
  display: block;
  text-align: center;
  color: white;
}
