.error {
  text-align: center;
}
.thread {
  overflow: hidden;
  margin: 5px 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  border-radius: 2px;
}

.thread--nsfw .thread__upper {
  background-color: #fbb;
}

.thread__upper {
  position: relative;
  background-color: white;
  margin-left: {{config.PULLBACK.MIN}}px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: stretch;
}

.thread__thumbnail {
  display: block;
  width: 25%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0
}

.thread__details {
  display: block;
  flex-grow: 1;
  padding: 5px 10px;
}

.thread__scores {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex-shrink: 0;
  width: 10vw;
}

.thread__scores > * {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.thread__upvotes {
  background-color: hsl(32, 100%, 85%);
}

.thread__downvotes {
  background-color: hsl(210, 100%, 85%);
}

.thread__author {
  font-size: 0.7em;
  color: rgba(0,0,0,0.54);
  margin-bottom: 10px;
}

.thread__scores > *:last-child {
  border-bottom: none;
}

.thread__details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.thread__lower {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: rgba(0,0,0,0.64);
  font-size: 30px;
}

.thread__lower:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: {{config.PULLBACK.MIN}}px;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #FC0;
  transition: opacity 0.3s ease-in-out;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.thread__lower span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.thread:not(.thread--downloading):not(.thread--downloaded) .thread__lower:hover + .thread__upper {
  will-change: transform;
  transform: translateX(250px) translateZ(0);
}

.thread--dragging .thread__upper {
  transition: none;
}

.thread--dragging .thread__upper,
.thread--resetting .thread__upper {
  will-change: transform;
}
.thread--elevated .thread__upper {
  z-index: 1;
}

.thread--resetting .thread__upper {
  transform: translateX(0) translateZ(0);
}

.thread--dragging .thread__lower span {
  will-change: opacity;
}

.thread--would-download .thread__lower span,
.thread__lower:hover span {
  opacity: 1;
}

.thread--downloading .thread__lower:before {
  will-change: opacity;
  opacity: 1;
}
.thread--downloaded .thread__lower:before {
  opacity: 1;
  background-color: #0E0;
}
